## Importing NLTK library

In [22]:
import nltk

In [2]:
text="The Fifa World Cup was held in Brazil. People had huge expectations that Brazil would be crowned the champions. However they were thrashed badly in the semi finals and eventually finished in the third place in the World Cup."

## Converting Text into Lower Case

In [3]:
text = text.lower()

## Tokenization (Separate all Words)

In [23]:
from nltk.tokenize import word_tokenize

In [5]:
result = word_tokenize(text)

In [6]:
print(result)

['the', 'fifa', 'world', 'cup', 'was', 'held', 'in', 'brazil', '.', 'people', 'had', 'huge', 'expectations', 'that', 'brazil', 'would', 'be', 'crowned', 'the', 'champions', '.', 'however', 'they', 'were', 'thrashed', 'badly', 'in', 'the', 'semi', 'finals', 'and', 'eventually', 'finished', 'in', 'the', 'third', 'place', 'in', 'the', 'world', 'cup', '.']

## Creating a Word Count

In [8]:
count = 0

In [9]:
for i in range(0,len(result)):
    for j in range(0,len(result)):
        if(result[i]==result[j]):
            count=count+1
    print(result[i],count)
    count=0

the 5
fifa 1
world 2
cup 2
was 1
held 1
in 4
brazil 2
. 3
people 1
had 1
huge 1
expectations 1
that 1
brazil 2
would 1
be 1
crowned 1
the 5
champions 1
. 3
however 1
they 1
were 1
thrashed 1
badly 1
in 4
the 5
semi 1
finals 1
and 1
eventually 1
finished 1
in 4
the 5
third 1
place 1
in 4
the 5
world 2
cup 2
. 3

## Another Example

In [10]:
text="Cricket team saw a transition after 2011 World Cup. Senior players were dropped and youngsters were given the chances"

## Converting Text into Lower Case

In [26]:
text = text.lower()

## Tokenization (Separate all the Words)

In [27]:
result = word_tokenize(text)

In [28]:
print(result)

['cricket', 'team', 'saw', 'a', 'transition', 'after', '2011', 'world', 'cup', '.', 'senior', 'players', 'were', 'dropped', 'and', 'youngsters', 'were', 'given', 'the', 'chances']

## Creating a Word Count

In [29]:
count = 0

In [30]:
for i in range(0,len(result)):
    for j in range(0,len(result)):
        if(result[i]==result[j]):
            count = count+1
    print(result[i],count)
    count = 0

cricket 1
team 1
saw 1
a 1
transition 1
after 1
2011 1
world 1
cup 1
. 1
senior 1
players 1
were 2
dropped 1
and 1
youngsters 1
were 2
given 1
the 1
chances 1

## Position Tagging

In [31]:
final = nltk.pos_tag(result)

In [32]:
print(final)

[('cricket', 'NN'), ('team', 'NN'), ('saw', 'VBD'), ('a', 'DT'), ('transition', 'NN'), ('after', 'IN'), ('2011', 'CD'), ('world', 'NN'), ('cup', 'NN'), ('.', '.'), ('senior', 'JJ'), ('players', 'NNS'), ('were', 'VBD'), ('dropped', 'VBN'), ('and', 'CC'), ('youngsters', 'NNS'), ('were', 'VBD'), ('given', 'VBN'), ('the', 'DT'), ('chances', 'NNS')]

## .help helps to find the Meaning of each Tag

In [35]:
nltk.help.upenn_tagset('DT')

DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those

## Printing the words according to particular Tags

In [34]:
# total determiner in the "text"
for i in range(0,len(final)):
    if(final[i][1]=='DT'):
        print(final[i][0])

a
the

## Will add Stopwords and other codes earliest..........