## Importing Libraries

In [51]:
import nltk

## <font color='red'>Text</font> Data

In [52]:
text="The Fifa World Cup was held in Brazil. People had huge expectations that Brazil would be crowned the champions. However they were thrashed badly in the semi finals and eventually finished in the third place in the World Cup."

## Lowercase

In [53]:
text=text.lower()

## <font color='red'>Remove</font> Fullstop (Text Cleaning)

In [54]:
import re
remove = "[.]"
matches = re.sub(remove,"",text)
print(matches)

the fifa world cup was held in brazil people had huge expectations that brazil would be crowned the champions however they were thrashed badly in the semi finals and eventually finished in the third place in the world cup

## Word Tokenize (Separate Words)

In [55]:
from nltk.tokenize import word_tokenize

In [56]:
result=word_tokenize(matches)

In [57]:
print(result)

['the', 'fifa', 'world', 'cup', 'was', 'held', 'in', 'brazil', 'people', 'had', 'huge', 'expectations', 'that', 'brazil', 'would', 'be', 'crowned', 'the', 'champions', 'however', 'they', 'were', 'thrashed', 'badly', 'in', 'the', 'semi', 'finals', 'and', 'eventually', 'finished', 'in', 'the', 'third', 'place', 'in', 'the', 'world', 'cup']

## <font color='red'>Count</font> of Each Word

In [58]:
count=0

In [59]:
for i in range(0,len(result)):
    for j in range(0,len(result)):
        if(result[i]==result[j]):
            count=count+1
    print(result[i],count)
    count=0

the 5
fifa 1
world 2
cup 2
was 1
held 1
in 4
brazil 2
people 1
had 1
huge 1
expectations 1
that 1
brazil 2
would 1
be 1
crowned 1
the 5
champions 1
however 1
they 1
were 1
thrashed 1
badly 1
in 4
the 5
semi 1
finals 1
and 1
eventually 1
finished 1
in 4
the 5
third 1
place 1
in 4
the 5
world 2
cup 2

## <font color='green'>Text</font> Data

In [60]:
text="Cricket team saw a transition after 2011 World Cup. Senior players were dropped and youngsters were given the chances"

## Lowercase

In [61]:
text = text.lower()
print(text)

cricket team saw a transition after 2011 world cup. senior players were dropped and youngsters were given the chances

## <font color='green'>Remove</font> Fullstop

In [62]:
import re
remove = "[.]"
matches = re.sub(remove,"",text)
print(matches)

cricket team saw a transition after 2011 world cup senior players were dropped and youngsters were given the chances

## Word Tokenize (Separate Words)

In [63]:
from nltk import word_tokenize

In [64]:
result=word_tokenize(matches)

In [65]:
print(result)

['cricket', 'team', 'saw', 'a', 'transition', 'after', '2011', 'world', 'cup', 'senior', 'players', 'were', 'dropped', 'and', 'youngsters', 'were', 'given', 'the', 'chances']

## <font color='green'>Count</font> of Each Word

In [66]:
count = 0

In [67]:
for i in range(0,len(result)):
    for j in range(0,len(result)):
        if(result[i]==result[j]):
            count=count+1
            print(result[i],count)
    count=0

cricket 1
team 1
saw 1
a 1
transition 1
after 1
2011 1
world 1
cup 1
senior 1
players 1
were 1
were 2
dropped 1
and 1
youngsters 1
were 1
were 2
given 1
the 1
chances 1

## Tagging Each Word

In [68]:
final=nltk.pos_tag(result)

In [69]:
final

[('cricket', 'NN'),
 ('team', 'NN'),
 ('saw', 'VBD'),
 ('a', 'DT'),
 ('transition', 'NN'),
 ('after', 'IN'),
 ('2011', 'CD'),
 ('world', 'NN'),
 ('cup', 'NN'),
 ('senior', 'JJ'),
 ('players', 'NNS'),
 ('were', 'VBD'),
 ('dropped', 'VBN'),
 ('and', 'CC'),
 ('youngsters', 'NNS'),
 ('were', 'VBD'),
 ('given', 'VBN'),
 ('the', 'DT'),
 ('chances', 'NNS')]

## Information of Each Tag

In [70]:
nltk.help.upenn_tagset('DT')

DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those

In [71]:
nltk.help.upenn_tagset('VBD')

VBD: verb, past tense
    dipped pleaded swiped regummed soaked tidied convened halted registered
    cushioned exacted snubbed strode aimed adopted belied figgered
    speculated wore appreciated contemplated ...

## <font color='violet'>Matching</font>

In [72]:
for i in range(0,len(final)):
    if(final[i][1]=='DT'):
        print(final[i][0])

a
the